<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinarBaru</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="background-color: aqua; padding: 20px;text-align: center;">
        <span style="text-align: center;">SinarBaru</span>
        <span style="float: right;">
            <% if (!i_user) { %>
                <button><a href="/login">Login</a></button>
                <% } else { %>
                    <button><a href="/logout">logout</a></button>
                    <%} %>
        </span>
        <span style="float: right; padding-right: 10px;">
            <%= i_user.Username %>
        </span>
    </div>
    <div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
        <div class="vertical-menu" style="-ms-flex: 20%; flex: 20%;">
            <a href="/">Home</a>
            <a href="/supplier">Data Supplier</a>
            <a href="/product">Stok Barang</a>
            <a href="/kas">Laporan Kas</a>
            <a href="/prediksi">Prediksi Penjualan</a>
            <a href="/sale">Data Penjualan</a>
            <a href="/purchase">Data Pembelian</a>
            <a href="/retur">Retur Pembelian</a>
            <a href="/debt" class="active">Data Utang</a>
            <a href="/operational">Data Operasional</a>
        </div>
        <div style="-ms-flex: 80%; flex: 80%;">
            <div>
                <span style="float: left; padding: 20px;">Data Utang</span>
                <input type="text" id="tanggal" hidden>
                <a href="/debtHistory"><button style="float: right; margin: 20px;">History Utang</button></a>
                
            </div>

            <table style="width: 100%;">
                <tr>
                    <th style="width: 15%;">Supplier</th>
                    <th style="width: 15%;">Tanggal Pesanan</th>
                    <th style="width: 15%;">Produk</th>
                    <th style="width: 10%;">Kuantitas</th>
                    <th style="width: 15%;">Harga Total</th>
                    <th style="width: 15%;">Pembayaran</th>
                    <th style="width: 15%;">Actions</th>
                </tr>
                <% for( let i=0; i < purchases.length; i++ ) { %>
                    <tr>
                        <td>
                            <%= purchases[i].supplier.SupplierName %>
                        </td>
                        <td>
                            <%= formatDate(purchases[i].OrderDate) %>
                        </td>
                        <td>
                            <% for( let j=0; j < purchases[i].purchaseproducts.length; j++ ) { %>
                                <p>
                                    <%= purchases[i].purchaseproducts[j].product.ProductName %>
                                </p>
                                <% } %>
                        </td>
                        <td>
                            <% for( let j=0; j < purchases[i].purchaseproducts.length; j++ ) { %>
                                <p>
                                    <%= purchases[i].purchaseproducts[j].Qnt %>
                                </p>
                                <% } %>
                        </td>
                        <td>
                            <%= formatRupiah(purchases[i].Total) %>
                        </td>
                        <td>
                            <% if (purchases[i].Status==1) { %>
                                Utang
                                <% } %>
                        </td>
                        <td>
                            <div style="display: flex;">
                                <button id="del" style="flex: 45%;"
                                    onclick="pay('<%= purchases[i].id %>', '<%= purchases[i].OrderDate %>')">Bayar</button>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </table>


        </div>
    </div>

    <% function formatDate(dateString) { const date=new Date(dateString); const
        day=String(date.getDate()).padStart(2, '0' ); const month=String(date.getMonth() + 1).padStart(2, '0' ); const
        year=date.getFullYear(); return `${day}-${month}-${year}`; } %>

        <% function formatRupiah(angka) { let reverse=angka.toString().split('').reverse().join(''); let
            ribuan=reverse.match(/\d{1,3}/g); let formatted=ribuan.join('.').split('').reverse().join(''); return 'Rp '
            +formatted; } %>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script>
                let pay2 = (id,date) => {
                    console.log(date);
                }
                let pay = (id,date) => {
                    console.log(date);
                    axios({
                        method: 'post',
                        url: '/api/debt',
                        data: {
                            Date: date,
                            PurchasesID: id
                        }
                    }).then((result) => {
                        axios({
                            method: 'put',
                            url: `/api/debt/${id}`,
                            data: {
                                Status: 2,
                                OrderDate: document.getElementById('tanggal').value,
                            }
                        }).then((results) => {
                            location.reload();
                        }).catch((err) => {
                            alert('Error : ' + err);
                        });
                        location.reload();
                    }).catch((err) => {
                        alert('error' + err);
                    });

                }
            </script>
            <script>
                // JavaScript untuk mengatur nilai default
                document.addEventListener('DOMContentLoaded', function () {
                    const dateInput = document.getElementById('tanggal');
                    const today = new Date();

                    // Format tanggal menjadi YYYY-MM-DD
                    const year = today.getFullYear();
                    const month = String(today.getMonth() + 1).padStart(2, '0'); // bulan dimulai dari 0
                    const day = String(today.getDate()).padStart(2, '0');

                    const formattedDate = `${year}-${month}-${day}`;

                    // Set nilai default input tanggal
                    dateInput.value = formattedDate;
                });
            </script>

</body>

</html>