<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinarBaru</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="background-color: aqua; padding: 20px;text-align: center;">
        <span style="text-align: center;">SinarBaru</span>
        <span style="float: right;">
            <% if (!i_user) { %>
                <button><a href="/login">Login</a></button>
                <% } else { %>
                    <button><a href="/logout">logout</a></button>
                    <%} %>
        </span>
        <span style="float: right; padding-right: 10px;">
            <%= i_user.Username %>
        </span>
    </div>
    <div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
        <div class="vertical-menu" style="-ms-flex: 20%; flex: 20%;">
            <a href="/">Home</a>
            <a href="/supplier">Data Supplier</a>
            <a href="/product">Stok Barang</a>
            <a href="/kas">Laporan Kas</a>
            <a href="/prediksi">Prediksi Penjualan</a>
            <a href="/sale" class="active">Data Penjualan</a>
            <a href="/purchase">Data Pembelian</a>
            <a href="/retur">Retur Pembelian</a>
            <a href="/debt">Data Utang</a>
            <a href="/operational">Data Operasional</a>
        </div>
        <div style="-ms-flex: 80%; flex: 80%;">
            <div>
                <span style="float: left; padding: 20px;">Penjualan</span>
                <button id="add" style="float: right; margin: 20px;" onclick="add('<%= counter %>')">Tambah
                    Penjualan</button>
            </div>

            <!-- The form -->
            <div class="form-popup" id="addForm">
                <form action="" class="form-container">
                    <h1>Penjualan Baru</h1>

                    <input type="text" id="kode" hidden>

                    <p></p>
                    <label for="tanggal"><b>Tanggal Pemesanan</b></label>
                    <input type="date" name="tanggal" id="tanggal" required>

                    <p></p>
                    <div id="resultContainer">
                        <table id="resultTable">
                            <thead>
                                <tr>
                                    <th>Produk</th>
                                    <th>Kuantitas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Hasil akan dimasukkan di sini -->
                            </tbody>
                        </table>
                    </div>
                    <p></p>
                    <label for="produk"><b>Produk</b></label>
                    <button type="button" id="additem">+</button>
                    <p id="result"></p>

                    <p></p>
                    <p id="totalReal" hidden></p>
                    <p id="totalSemua"></p>


                    <div style="display: flex;">
                        <button type="submit" class="btn" style="flex: 45%;" id="simpan"
                            onclick="save()">Simpan</button>
                        <span style="flex: 10%;"></span>
                        <button type="button" class="btn cancel" style="flex: 45%;" onclick="closeForm()">Batal</button>
                    </div>
                </form>
            </div>

            <!-- The form -->
            <div class="form-popup" id="addItemForm">
                <form action="" class="form-container">
                    <h1>Produk</h1>

                    <% for( let i=0; i < products.length; i++ ) { %>
                        <label for=<%=products[i].ProductCode %>>
                            <input type="checkbox" id="<%= products[i].ProductCode %>" name="options"
                                value="<%= products[i].ProductCode %>">
                            <span>
                                <%= products[i].ProductCode %>
                            </span>
                            <span class="productName">
                                <%= products[i].ProductName %>
                            </span>
                            <span class="productQnt">
                                <%= products[i].Qnt %>
                            </span>
                            <span class="productPrice">
                                <%= products[i].SellPrice %>
                            </span>
                            <span><input type="text" id="jumlah_<%= products[i].ProductCode %>"
                                    name="jumlah_<%= products[i].ProductCode %>"></span>
                        </label>
                        <% } %>

                            <div style="display: flex;">
                                <button type="button" class="btn" style="flex: 45%;" id="simpan"
                                    onclick="getCheckedValues()">Simpan</button>
                                <span style="flex: 10%;"></span>
                                <button type="button" class="btn cancel" style="flex: 45%;"
                                    onclick="closeItemForm()">Batal</button>
                            </div>
                </form>
            </div>

            <table style="width: 100%;">
                <tr>
                    <th style="width: 15%;">Tanggal Pesanan</th>
                    <th style="width: 15%;">Produk</th>
                    <th style="width: 10%;">Kuantitas</th>
                    <th style="width: 15%;">Harga Total</th>
                    <th style="width: 15%;">Actions</th>
                </tr>
                <% for( let i=0; i < sales.length; i++ ) { %>
                    <tr>
                        <td>
                            <%= formatDate(sales[i].OrderDate) %>
                        </td>
                        <td>
                            <% for( let j=0; j < sales[i].saleproducts.length; j++ ) { %>
                                <p>
                                    <%= sales[i].saleproducts[j].product.ProductName %>
                                </p>
                                <% } %>
                        </td>
                        <td>
                            <% for( let j=0; j < sales[i].saleproducts.length; j++ ) { %>
                                <p>
                                    <%= sales[i].saleproducts[j].Qnt %>
                                </p>
                                <% } %>
                        </td>
                        <td>
                            <%= formatRupiah(sales[i].Total) %>
                        </td>
                        <td>
                            <div style="display: flex;">
                                <button id="del" style="flex: 45%;"
                                    data-saleproducts="<%= JSON.stringify(sales[i].saleproducts) %>"
                                    onclick="del('<%= sales[i].id %>', this.dataset.saleproducts)">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </table>


        </div>
    </div>

    <% function formatDate(dateString) { const date=new Date(dateString); const
        day=String(date.getDate()).padStart(2, '0' ); const month=String(date.getMonth() + 1).padStart(2, '0' ); const
        year=date.getFullYear(); return `${day}-${month}-${year}`; } %>

        <% function formatRupiah(angka) { let reverse=angka.toString().split('').reverse().join(''); let
            ribuan=reverse.match(/\d{1,3}/g); let formatted=ribuan.join('.').split('').reverse().join(''); return 'Rp '
            +formatted; } %>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script>
                const products = JSON.parse('<%- JSON.stringify(products)%> ');
                let del = (id, saleJson) => {
                    let qnt = 0;
                    const sale = JSON.parse(saleJson);
                    sale.forEach((tmp) => {
                        products.forEach((pro) => {
                            if (pro.ProductCode == tmp.ProductCode) {
                                qnt = pro.Qnt + tmp.Qnt;
                                axios({
                                    method: 'put',
                                    url: `/api/sale-product/${tmp.ProductCode}`,
                                    data: {
                                        ProductQnt: qnt
                                    }
                                }).then(() => {
                                    axios.delete('/api/sale-saleproducts/' + id).then((result) => {
                                        axios.delete('/api/sale-sales/' + id).then((result) => {
                                            location.reload();
                                        }).catch((err) => {
                                            alert('error ' + err)
                                        });
                                        location.reload();
                                    }).catch((err) => {
                                        alert('error ' + err)
                                    });
                                }).catch((err) => {
                                    alert('Error : ' + err);
                                });
                                console.log(qnt);
                            }
                        })
                    });

                }
            </script>
            <script>
                function generateNumber(counterTmp) {
                    let tmp = parseInt(counterTmp);
                    tmp++;
                    return tmp;
                }
            </script>
            <script>
                let add = (counter) => {
                    document.getElementById("addForm").style.display = "block";
                    document.getElementById("kode").value = generateNumber(counter);
                }
            </script>
            <script>
                document.getElementById("additem").onclick = () => {
                    results = [];
                    totalSemua = 0
                    document.getElementById("addForm").style.display = "block";
                    document.getElementById("addItemForm").style.display = "block";
                }

                function closeItemForm() {
                    document.getElementById("addItemForm").style.display = "none";
                }

                function closeForm() {
                    document.getElementById("addForm").style.display = "none";
                    location.reload();
                }

            </script>
            <script>
                function formatRupiah(angka) {
                    let reverse = angka.toString().split('').reverse().join(''); let
                        ribuan = reverse.match(/\d{1,3}/g); let formatted = ribuan.join('.').split('').reverse().join(''); return 'Rp '
                            + formatted;
                }
                let results = [];
                let totalSemua = 0;
                function getCheckedValues() {
                    const checkboxes = document.querySelectorAll('input[name="options"]:checked');
                    const resultTableBody = document.getElementById('resultTable').querySelector('tbody');
                    resultTableBody.innerHTML = ''; // Mengosongkan hasil sebelumnya
                    totalSemua = 0;
                    results = [];

                    checkboxes.forEach((checkbox) => {
                        const productCode = checkbox.value;
                        const productName = checkbox.parentElement.querySelector('.productName').innerText;
                        const productQnt = checkbox.parentElement.querySelector('.productQnt').innerText;
                        const productPrice = checkbox.parentElement.querySelector('.productPrice').innerText;
                        const jumlah = document.getElementById('jumlah_' + productCode).value;
                        const total = productPrice * jumlah
                        if (jumlah == 0 || jumlah == null) {
                            const row = document.createElement('p');
                            row.innerText = 'Kuantitas salah';
                            resultTableBody.appendChild(row);
                            closeItemForm();
                        } else if (parseInt(productQnt) < jumlah) {
                            const row = document.createElement('p');
                            row.innerText = 'Stok tidak cukup';
                            resultTableBody.appendChild(row);
                            closeItemForm();
                        }
                        else if (parseInt(productQnt) >= jumlah) {
                            results.push({
                                ProductCode: productCode,
                                ProductName: productName,
                                ProductQnt: productQnt,
                                ProductPrice: productPrice,
                                Jumlah: jumlah,
                                Total: total
                            });

                            // Membuat baris baru untuk tabel
                            const row = document.createElement('tr');
                            const cellProductName = document.createElement('td');
                            const cellProductQnt = document.createElement('td');

                            cellProductName.innerText = productName;
                            cellProductQnt.innerText = jumlah;

                            row.appendChild(cellProductName);
                            row.appendChild(cellProductQnt);

                            resultTableBody.appendChild(row);
                            document.getElementById("addItemForm").style.display = "none";
                            totalSemua += total;
                            document.getElementById("totalSemua").innerHTML = formatRupiah(totalSemua);
                            document.getElementById("totalReal").innerHTML = totalSemua;
                        }

                    });
                }
            </script>
            <script>
                let save2 = () => {
                    results.forEach((tmp) => {
                        let start = tmp.ProductQnt * tmp.ProductPrice;
                        let stokAkhir = parseInt(tmp.ProductQnt) + parseInt(tmp.Jumlah);
                        let avgPrice = (start + parseInt(tmp.Total)) / stokAkhir;
                        console.log(start, stokAkhir, avgPrice);
                    });
                }
                let save = () => {
                    let isi_id = document.getElementById("kode").value;
                    let isi_date = document.getElementById("tanggal").value;
                    let isi_total = document.getElementById("totalReal").innerText;
                    axios({
                        method: 'post',
                        url: '/api/sale-sales',
                        data: {
                            id: isi_id,
                            OrderDate: isi_date,
                            Total: isi_total,
                        }
                    }).then(() => {
                        results.forEach((tmp) => {
                            axios({
                                method: 'post',
                                url: '/api/sale-saleproducts',
                                data: {
                                    Qnt: tmp.Jumlah,
                                    Price: tmp.ProductPrice,
                                    ProductTotal: tmp.Total,
                                    SalesID: isi_id,
                                    ProductCode: tmp.ProductCode
                                }
                            }).then(() => {
                                let stokAkhir = parseInt(tmp.ProductQnt) - parseInt(tmp.Jumlah);
                                axios({
                                    method: 'put',
                                    url: `/api/sale-product/${tmp.ProductCode}`,
                                    data: {
                                        ProductQnt: stokAkhir
                                    }
                                }).then(() => {
                                    location.reload();
                                    closeForm();
                                }).catch((err) => {
                                    alert('Error : ' + err);
                                });
                            }).catch((err) => {
                                alert('error' + err);
                            });
                        });
                        location.reload();
                    }).catch((err) => {
                        alert('error' + err);
                    });

                }
            </script>
            <script>
                // JavaScript untuk mengatur nilai default
                document.addEventListener('DOMContentLoaded', function () {
                    const dateInput = document.getElementById('tanggal');
                    const today = new Date();

                    // Format tanggal menjadi YYYY-MM-DD
                    const year = today.getFullYear();
                    const month = String(today.getMonth() + 1).padStart(2, '0'); // bulan dimulai dari 0
                    const day = String(today.getDate()).padStart(2, '0');

                    const formattedDate = `${year}-${month}-${day}`;

                    // Set nilai default input tanggal
                    dateInput.value = formattedDate;
                });
            </script>

</body>

</html>